<div style="display:flex; flex-direction:row; align-items: center; justify-content: flex-start;">
    <div v-bind:id="'card' + id.toString()" v-touch:tap="detectDoubleTap">
        <div  v-touch:end="holdHandlerEnd" v-touch:start="holdHandler" v-bind:class="[{ cardActive: isActive }, 'card']">
            <img v-if="img" v-bind:class="type === 'image' || type === 'image' ? 'bigPicture' : 'picture'" :alt="title" :src="url+img">
            <h1 class="title">{{ title }}</h1>
            <h3 v-if="subtitle" class="subtitle"><img v-if="flag" class="flag" :src="url+flag">{{ subtitle }}</h3>
            <p class="content">{{ content }}</p>
        </div>
    </div>
    <div v-bind:class="[{ menuActive: isMenuActive }, 'menu']">
        <span v-touch:tap="expandCardNode" style="display: flex; flex-direction: row; align-items: center;">
            <img src="../../assets/simple-expand.svg" width="27px"></img>
            <h3 style="margin: 0.5rem; margin-left:0;">Étendre les liens</h3>
        </span>
        <span class="separator"></span>
        <span style="display: flex; flex-direction: row; align-items: center;">
            <img src="../../assets/multi-expand.svg" width="27px"></img>
            <h3 style="margin: 0.5rem; margin-left:0;">Étendre tous les liens</h3>
        </span>
        <span class="separator"></span>
        <span v-if="hasPosition" v-touch:tap="requestPosition" style="display: flex; flex-direction: row; align-items: center;">
            <img src="../../assets/position.png" width="27px"></img>
            <h3 style="margin: 0.5rem; margin-left:0;">Demander position</h3>
        </span>
        <span v-if="hasPosition" class="separator"></span>
        <span style="display: flex; flex-direction: row; align-items: center;">
            <img src="../../assets/trash.svg" width="27px"></img>
            <h3 style="margin: 0.5rem; margin-left:0;">Supprimer carte</h3>
        </span>
        <span class="separator"></span>
        <span v-touch:tap="desactivateMenu" style="display: flex; flex-direction: row; align-items: center;">
            <img src="../../assets/close-icon.svg" width="27px"></img>
            <h3 style="margin: 0.5rem; margin-left:0;">Fermer menu</h3>
        </span>
    </div>
</div>

