.card {
    display: inline-block;
    background: whitesmoke;
    text-align: center;
    padding: 0.75rem;
    margin: 0.75rem;
    width: 9rem;
    border: 0.75px black solid;
    transition: all .1s ease-in-out;
    border-radius: 15px;
}

.menu {
    display: none;
    position: absolute;
    left: 12rem;
    background: whitesmoke;
    color: black;
    text-align: center;
    padding: 0.375rem;
    width: 8.25rem;
    border: 0.75px black solid;
    transition: all .1s ease-in-out;
    border-radius: 3px;
}

.menuActive {
    display: inline-block;
}

.separator {
    height: 2.25px;
    display: block;
    margin-left: 5%;
    width: 90%;
    background-color: grey;
}

.card h1, .card h3 {
    color: black;
}

.cardActive {
    transform: scale(1.3);
    height: auto;
    max-height: none;
}

.cardActive p {
    display: -webkit-box;
   -webkit-line-clamp: 20; /* number of lines to show */
           line-clamp: 20; 
   -webkit-box-orient: vertical;
}

.hugeCard {
    transform: scale(1.5);
    height: auto;
    max-height: none;
}

.hugeCard p {
    display: -webkit-box;
   -webkit-line-clamp: 30; /* number of lines to show */
           line-clamp: 30; 
   -webkit-box-orient: vertical;
}

h1.title {
    margin: 0.375rem;
    font-size: 1.125rem;
}

h3.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
}

h3.menu-title {
    margin: 0.375rem;
    margin-left:0;
    font-size: 0.9rem;
}

img.flag {
    width: 1.125rem;
    height: 0.75rem;
    margin-right: 0.3rem;
}

p.content {
    font-size: .6rem;
    color: gray;

    overflow: hidden;
    text-overflow: ellipsis;  
    display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

img.picture {
    width: 3rem;
    height: 3rem;
}

img.bigPicture {
    width: 4.5rem;
    height: 4.5rem;
}
