.card {
    display: inline-block;
    background: whitesmoke;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 6rem;
    border: 0.5px black solid;
    transition: all .1s ease-in-out;
    border-radius: 15px;
}

.menu {
    display: none;
    position: absolute;
    left: 8rem;
    background: whitesmoke;
    color: black;
    text-align: center;
    padding: 0.25rem;
    width: 5.5rem;
    border: 0.5px black solid;
    transition: all .1s ease-in-out;
    border-radius: 3px;
}

.menuActive {
    display: inline-block;
}

.separator {
    height: 1.5px;
    display: block;
    margin-left: 5%;
    width: 90%;
    background-color: grey;
}

.card h1, .card h3 {
    color: black;
}

.cardActive {
    transform: scale(1.1);
    height: auto;
    max-height: none;
}

.cardActive p {
    display: -webkit-box;
   -webkit-line-clamp: 20; /* number of lines to show */
           line-clamp: 20; 
   -webkit-box-orient: vertical;
}

.hugeCard {
    transform: scale(1.3);
    height: auto;
    max-height: none;
}

.hugeCard p {
    display: -webkit-box;
   -webkit-line-clamp: 30; /* number of lines to show */
           line-clamp: 30; 
   -webkit-box-orient: vertical;
}

h1.title {
    margin: .25rem;
    font-size: 0.75rem;
}

h3.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .4rem;
}

h3.menu-title {
    margin: 0.25rem;
    margin-left:0;
    font-size: 0.6rem;
}

img.flag {
    width: 0.75rem;
    height: 0.5rem;
    margin-right: 0.2rem;
}

p.content {
    font-size: .4rem;
    color: gray;

    overflow: hidden;
    text-overflow: ellipsis;  
    display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

img.picture {
    width: 2rem;
    height: 2rem;
}

img.bigPicture {
    width: 3rem;
    height: 3rem;
}
