.card {
    display: inline-block;
    background: whitesmoke;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 12rem;
    height: 15rem;
    min-height: 15rem;
    border: 1px black solid;
    transition: all .1s ease-in-out;
    border-radius: 15px;
}

.cardActive {
    transform: scale(1.1);
    height: auto;
    max-height: none;
}

.cardActive p {
    display: -webkit-box;
   -webkit-line-clamp: 20; /* number of lines to show */
           line-clamp: 20; 
   -webkit-box-orient: vertical;
}

h1.title {
    margin: .5rem;
    font-size: 1.5rem;
}

h3.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

img.flag {
    width: 1rem;
    height: 1rem;
    margin-right: 2px;
}

p.content {
    font-size: .8rem;
    color: gray;

    overflow: hidden;
    text-overflow: ellipsis;  
    display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

img.picture {
    width: 4rem;
    height: 4rem;
}

.buttonCard {
    width: 100px;
    height: 100px;
}
