.list-card {
    display: inline-block;
  }

.list-enter-active, .list-leave-active {
    transition: all 0.8s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
opacity: 0;
transform: translateY(1000px);
}

.topShadow {
  width: 100%;
  position:absolute;
  height: 80px;
  top:0;
  z-index: 1;
  pointer-events: none;
}

.leftShadow {
  width: 80px;
  position:absolute;
  height: 100%;
  left:0;
  z-index: 1;
  pointer-events: none;
}

.bottomShadow {
  width: 100%;
  position:absolute;
  height: 80px;
  bottom:0;
  z-index: 50;
  pointer-events: none;
}

.rightShadow {
  width: 80px;
  position:absolute;
  height: 100%;
  right:0;
  z-index: 1;
  pointer-events: none;
}

.activeTopShadow {
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}
.activeLeftShadow {
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.activeTopShadowBigNav {
  background: rgba(0,255,0,1);
}
.activeLeftShadowBigNav {
  background: rgba(0,255,0,1);
}
.activeBottomShadowBigNav {
  background: rgba(0,255,0,1);
}
.activeRightShadowBigNav {
  background: rgba(0,255,0,1);
}

.noneTopShadowBigNav {
  background: rgba(255,0,0,1);
}
.noneLeftShadowBigNav {
  background: rgba(255,0,0,1);
}
.noneBottomShadowBigNav {
  background: rgba(255,0,0,1);
}
.noneRightShadowBigNav {
  background: rgba(255,0,0,1);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-enter-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.fade-leave, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}