<div style="height: 100vh;">
  <!-- <div style="height: 200px; overflow: auto;">
        <p>First marker is placed at {{ withPopup.lat }}, {{ withPopup.lng }}</p>
        <p>Center is at {{ currentCenter }} and the zoom is: {{ currentZoom }}</p>
        <button @click="showLongText">
            Toggle long popup
        </button>
        <button @click="showMap = !showMap">
            Toggle map
        </button>
    </div> -->
  <!-- dragCards -->
  <span v-bind:class="[{ activeTopShadow: showShadow }, 'topShadow']"></span>
  <span v-bind:class="[{ activeLeftShadow: showShadow }, 'leftShadow']"></span>
  <!-- BigNav -->
  <transition style="transition-delay: 1s;" v-if="shadowBigNav == 'TOP'" name="fade" mode="in-out">
    <span v-bind:class="[{ activeTopShadowBigNav: true }, 'topShadow']"></span>
  </transition>
  <transition style="transition-delay: 1s;" v-if="shadowBigNav == 'LEFT'" name="fade" mode="in-out">
    <span v-bind:class="[{ activeLeftShadowBigNav: true }, 'leftShadow']"></span>
  </transition>
  <transition style="transition-delay: 1s;" v-if="shadowBigNav == 'BOTTOM'" name="fade" mode="in-out">
    <span v-bind:class="[{ activeBottomShadowBigNav: true }, 'bottomShadow']"></span>
  </transition>
  <transition style="transition-delay: 1s;" v-if="shadowBigNav == 'RIGHT'" name="fade" mode="in-out">
    <span v-bind:class="[{ activeRightShadowBigNav: true }, 'rightShadow']"></span>
  </transition>
  <l-map
    z-index="0"
    v-if="showMap"
    :zoom="zoom"
    :center="center"
    :options="mapOptions"
    style="z-index: 0; position: absolute;"
    @update:center="centerUpdate"
    @update:zoom="zoomUpdate"
    @dblclick="moveToNextMarker($event)"
  >
    <l-tile-layer :url="url" :attribution="attribution" />
    <l-marker v-for="point, index in points" :key="point.id" :lat-lng="point.position"
    v-on:click="displayDetails(point, $event)"
    >
      <l-icon
        :icon-size="[40,40]"
        :icon-anchor="[20, 40]"
        icon-url="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png"
      />
    </l-marker>
  </l-map>
  <transition-group name="list" tag="p" style="margin: 0;">
    <div v-touch:start="activateShadow" v-touch:end="desactivateShadow" @stop="onMove(card.id, $event)" v-for="card in detailedCards" :key="card.id" v-draggable :style="{'z-index': 500,'position': 'absolute', 'left': card.positionX+'px', 'top': card.positionY+'px' }">
      <Card :title="card.title" :subtitle="card.subtitle" :flag="card.flag" :img="card.img" :content="card.content"/>
    </div>
  </transition-group>
</div>
