.list-card {
    display: inline-block;
  }

.list-enter-active, .list-leave-active {
    transition: all 0.8s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
opacity: 0;
transform: translateY(1000px);
}