<div id="graph-container">
    <button class="hidden" id="printAddButton" v-on:click="addCard">Ajouter</button>

    <transition-group name="list" tag="p">
        <span v-for="(card, index) in cards" v-bind:key="card" class="list-card">
            <Draggable>
                <Card 
                    v-touch:touchhold="holdCard(card.id, holdingCards, showMultipleElements)"
                    v-touch:end="releaseCard(card.id, holdingCards)"
                    v-bind:expandNode="expandNode"
                    v-bind:id="card.id" 
                    v-bind:title="card.title" 
                    v-bind:subtitle="card.subtitle" 
                    v-bind:flag="card.flag"
                    v-bind:img="card.img"
                    v-bind:content="card.content"
                    v-bind:type="card.type" />
            </Draggable>
        </span>
    </transition-group>
</div>