<div id="graph-container">
    <button v-on:click="addCard">Ajouter</button>
    <transition-group name="list" tag="p">
        <span v-for="(card, index) in cards" v-bind:key="card" class="list-card">
            <Draggable>
                <Card 
                    v-bind:nb="index" 
                    v-bind:title="card.title" 
                    v-bind:subtitle="card.subtitle" 
                    v-bind:flag="card.flag"
                    v-bind:img="card.img"
                    v-bind:content="card.content"
                    v-bind:cardOrLink="card.cardOrLink" />
            </Draggable>
        </span>
    </transition-group>
    <span v-for="(card, index) in cardsLinks" v-bind:key="card" class="list-card">
        <Draggable>
            <Card 
                v-bind:nb="index" 
                v-bind:title="card.title" 
                v-bind:content="card.content"
                v-bind:cardOrLink="card.cardOrLink" />
        </Draggable>
    </span>
</div>